
<nav style="background-color:indigo; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
  <div style="margin-left:15px;"class="nav-wrapper">
    <a href="/" class="brand-logo">Johan Jakberger</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Meny</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Om mig</a></li>
      <li><a href="/portfolio/">Portfölj (Under konstruktion)</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="#">Kunskap</a></li>
    </ul>
  </div>
</nav>
    
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Om mig</a></li>
  <li><a href="/portfolio">Portfölj (Under konstruktion)</a></li>
  <li><a href="#">Kontakt</a></li>
  <li><a href="#">Kunskap</a></li>
</ul>