{% extends "mypage/base.html" %}
{% load static %}






{% block content %}

    <div style="display: grid; grid-template-columns: 1fr 2fr 1fr;">
    <div style="grid-column: 1 / span 3; text-align: center;">
        <h1><strong>Välkommen till mitt CV!</strong></h1>
    </div>
    <div>
        <span><img src="{% static 'mypage/circleCVpic.png' %}"></span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    <div>
        <span>This is information</span>
    </div>
    </div>


{% endblock %}